*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body, html{
  width: 100%;
  background-color: #e5e5ea;
}

h1{
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: black;
  display: block;
  border-bottom: 0.5px solid black;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e5e5ea;
  z-index: 1;
  overflow: hidden;
}

p{
  margin: 10px 0;
}

button{
  background-color:blueviolet;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

button:hover{
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.joblisting-view {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 20px;
  max-width: 100%;
  padding: 1% 10%;
  margin-top: 100px;
}

.job-card {
  border: lightgrey 1px solid;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.job-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.job-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
}

.job-card p {
  margin-bottom: 5px;
  color: grey;
}

.job-card button {
  margin-top: 10px;
}

.job-card .salary {
  font-weight: bold;
  color: green;
}